
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/HouseSale.cshtml";
}
<script src="~/My97DatePicker/My97DatePicker/calendar.js"></script>
<script src="~/My97DatePicker/My97DatePicker/WdatePicker.js"></script>
<script src="~/layui-v2.5.6/layui/layui.js"></script>
<link href="~/css/css/admin.css" rel="stylesheet" />
<div class="page-content-wrap">
    <div class="layui-form" id="table-list">
        <div class="layui-form-item">
            @*<div class="layui-inline tool-btn">
                <button class="layui-btn layui-btn-small layui-btn-normal addBtn hidden-xs" data-url="menu-add.html">
                    <i class="layui-icon">+</i>
                </button>
                <button class="layui-btn layui-btn-small layui-btn-warm listOrderBtn hidden-xs" data-url="menu-add.html">
                    <i class="iconfont">||</i>
                </button>
            </div>*@
            <div class="layui-btn layui-btn-small layui-btn-normal addBtn hidden-xs">
                <input type="text" id="name" required lay-verify="required" placeholder="请输入楼盘名称" autocomplete="off" class="layui-input" />
            </div>
            <div class="layui-btn layui-btn-small layui-btn-normal addBtn hidden-xs">
                <input type="text" id="kpri" required lay-verify="required" placeholder="请输入开盘日期" autocomplete="off" class="layui-input" onclick="WdatePicker()" />
            </div>
            <div class="layui-btn layui-btn-small layui-btn-normal addBtn hidden-xs">
                <input type="text" id="jsrq" required lay-verify="required" placeholder="请输入结束日期" autocomplete="off" class="layui-input" onclick="WdatePicker()" />
            </div>
            @*<div class="layui-inline">
                <select name="states" lay-filter="status">
                    <option>请选择一个状态</option>
                    <option value="010">待定</option>
                    <option value="020">暂定</option>
                </select>
                <div class="layui-unselect layui-form-select">
                    <div class="layui-select-title">
                        <input type="text" class="layui-input layui-unselect" readonly placeholder="请选择一个状态" />
                        <i class="layui-edge"></i>
                    </div>
                </div>
                <dl class="layui-anim layui-anim-upbit">
                    <dd lay-value="010">待定</dd>
                    <dd lay-value="020">暂定</dd>
                </dl>
            </div>*@
            <button style="margin-left:35px;" class="layui-btn layui-btn-normal" lay-submit="search" onclick="Sele()">搜索</button>
            ::after
        </div>
        <table style="text-align:center;color:#2a98e7" class="layui-table">
            <thead>
                <tr>
                    <!--<th>
                        <input type="checkbox" lay-skin="primary" lay-filter="allChoose" />-->
                        @*<div class="layui-unselect layui-form-checkbox" lay-skin="primary">
                            <i class="layui-icon"></i>
                        </div>*@
                    <!--</th>-->
                    <td class="hidden-xs">楼盘名称</td>
                    <td class="hidden-xs">楼盘图片</td>
                    <td class="hidden-xs">开盘日期</td>
                    <td class="hidden-xs">项目地址</td>
                    <td class="hidden-xs">售楼处</td>
                    <td class="hidden-xs">开发商</td>
                    <td class="hidden-xs">销售状态</td>
                    <td class="hidden-xs">建筑面积</td>
                    <td class="hidden-xs">交房时间</td>
                    <td class="hidden-xs">产权年限</td>
                    <td class="hidden-xs">建筑类别</td>
                    <td class="hidden-xs">容积率</td>
                    <td class="hidden-xs">绿化率</td>
                    <td class="hidden-xs">周边规划</td>
                </tr>
            </thead>
            <tbody id="ty"></tbody>
        </table>
        <input type="button" class="layui-btn" onclick="First()" value="首页" />
        <input type="button" class="layui-btn" onclick="Pre()" value="上一页" />
        <input type="button" class="layui-btn" onclick="Next()" value="下一页" />
        <input type="button" class="layui-btn" onclick="Wei()" value="尾页" />
    </div>
</div>
<script src="~/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        Sele();
    })
    var pageindex = 1;
    var pagesize = 2;
    var pagecount = 1;
    var allcount = 1;

    function Sele() {
        var na = $("#name").val();
        var ks = $("#kpri").val();
        var js = $("#jsrq").val();

        $.ajax({
            url: "http://localhost:60345/api/HouseInfoContr/GetHouseInfos?hname=" + na + "&htptime=" + ks + "&hantime=" + js + "&pageindex=" + pageindex + "&pagesize=" + pagesize,
            type: "GET",
            dataType: "json",
            success:
                function (res) {
                    console.log(res);
                    pageindex = res.pageIndex;
                    pagesize = res.pageSize;
                    pagecount = res.pageCount;
                    allcount = res.allCount;
                    var tg = "";
                    $("#ty").empty();
                    $(res.houseInfos).each(function () {
                        tg += "<tr>"
                            + "<td>" + this.hName + "</td>"
                            + "<td>" + this.htPicture + "</td>"
                            + "<td>" + this.htpDateTime + "</td>"
                            + "<td>" + this.projictSite + "</td>"
                            + "<td>" + this.sellHouse + "</td>"
                            + "<td>" + this.developers + "</td>"
                            + "<td>" + this.sellState + "</td>"
                            + "<td>" + this.architecturearea + "</td>"
                            + "<td>" + this.handHouseTime + "</td>"
                            + "<td>" + this.yearAstrict + "</td>"
                            + "<td>" + this.sellState + "</td>"
                            + "<td>" + this.plot + "</td>"
                            + "<td>" + this.greeningrate + "</td>"
                            + "<td>" + this.rim + "</td>"
                            + "</tr>";
                    })
                    $("#ty").append(tg);
                }
        })
    }
</script>

